<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- What Service Bus engine is being used  -->
    <!-- Currently Supported: NServiceBus  -->
    <add key="messageBus" value="NServiceBus" />
    
    <!-- What persistance for the Queue is being used -->
    <!-- Currently Supported: MSMQ (NServiceBus) -->
    <add key="messageBusQueueType" value="MSMQ" />
    
    <!-- Servername, leave Empty for local host -->
    <add key="server" value="" />
    
    <!-- Names of Event Queues, separated with semicolon (;) -->
    <add key="event.queues" value="itqlegaladmin;itq.legal.eventhandlers.tenant.servicebus;itq.legal.eventhandlers.system.servicebus" />
    
    <!-- Names of Command Queues, separated with semicolon (;) -->
    <add key="command.queues" value="itq.legal.commandhandlers.tenant.servicebus;itq.legal.commandhandlers.system.servicebus" />
    
    <!-- Names of Message Queues, separated with semicolon (;) -->
    <add key="message.queues" value="" />
    
    <!-- Names of Error Queues, separated with semicolon (;) -->
    <add key="error.queues" value="error" />
    
    <!-- The refresh interval definied by milliseconds (ms) -->
    <add key="interval" value="700" />
    
    <!-- If the main window should popup when new messages arrive, when its closed -->
    <add key="showOnNewMessages" value="true" />
    <add key="commandsAssemblyPath" value="C:\Halan\ITQ\02.Projects\Legal\02.Projects\System\Itq.Legal.Commands.Tenant\bin\Debug" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>