<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductManager"/>
                <binding name="BasicHttpBinding_IProductManager1" messageEncoding="Mtom"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.halan.se/service/ProductManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductManager" contract="HalanService.IProductManager" name="BasicHttpBinding_IProductManager"/>
            <endpoint address="http://www.halan.se/service/ProductManager.svc/mtom" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductManager1" contract="HalanService.IProductManager" name="BasicHttpBinding_IProductManager1"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
